<% site.posts.forEach(post => { %>
<section class="post">
  <h2>
    <a class="suppress" href="<%- url_for(post.path) %>"><%- post.title %></a>
  </h2>

  <%- partial("partials/post-dates", {post}) %>
</section>

<section class="post">
  <h2>
    <a class="suppress" href="<%- url_for(post.path) %>"><%- post.title %></a>
  </h2>

  <%- partial("partials/post-dates", {post}) %>
</section>

<section class="post">
  <h2>
    <a class="suppress" href="<%- url_for(post.path) %>"><%- post.title %></a>
  </h2>

  <%- partial("partials/post-dates", {post}) %>
</section>

<section class="post">
  <h2>
    <a class="suppress" href="<%- url_for(post.path) %>"><%- post.title %></a>
  </h2>

  <%- partial("partials/post-dates", {post}) %>
</section>

<section class="post">
  <h2>
    <a class="suppress" href="<%- url_for(post.path) %>"><%- post.title %></a>
  </h2>

  <%- partial("partials/post-dates", {post}) %>
</section>

%> <% }) %>
