<%- page.content %>

<% site.posts.sort("date", -1).forEach(post => { %>
  <section class="post">
    <h2>
      <a class="suppress" href="<%- url_for(post.path) %>"><%- post.title %></a>
    </h2>
  
    <p><%- partial("partials/post-dates", {post}) %></p>
    
    <blockquote class="small"><%- post.excerpt %></blockquote>
  </section>
<% }) %>
  