<%- page.content %>

<% site.posts.sort("date", -1).forEach(post => { %>
  <section class="post">
    <p class="small separate">
      <%- partial("components/post/dates", {post}) %>
      <%- partial("components/post/tags", {post}) %>
    </p>

    <h2>
      <a class="suppress" href="<%- url_for(post.path) %>"><%- post.title %></a>
    </h2>
    
    <%- post.excerpt %>
  </section>
<% }) %>
  