<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- page.title %> - <%- config.title %></title>

    <link href="/styles/variables.css" rel="stylesheet" />
    <link href="/styles/utilities.css" rel="stylesheet" />
    <link href="/styles/base.css" rel="stylesheet" />
    <link href="/styles/layout.css" rel="stylesheet" />
    <link href="/styles/components.css" rel="stylesheet" />

    <script src="/scripts/theme.js"></script>
    <script src="/scripts/extensions.js"></script>
    <script src="/scripts/tag-highlighter.js"></script>
  </head>
  <body>
    <header>
      <a id="logo" class="suppress" href="/">
        <span>Joshua</span>
        <span>Sexton</span>
        <span><span class="pop">-</span>Jones</span>
      </a>

      <nav>
        <% site.pages
          .filter(p => p.nav !== false)
          .sort("title")
          .forEach(({title, path}) => {
            if (title !== page.title) { %>
          <a href="<%- url_for(path) %>">
            <%- title %>
          </a>
        <% } else { %>
          <%- title %>
        <% }}) %>
      </nav>

      <button id="theme-toggle" class="link"></button>
    </header>

    <div id="main-container">
      <main class="content <%- is_post() ? "post" : is_page() ? "page" : undefined %>">
        <%- body %>
      </main>
    </div>
  </body>
</html>
