<p><%- date(page.date) %></p>

<% if (page.series) { %>
  <p class="squish">Part of
    <a href="/series/<%- format_url(page.series) %>"><%- page.series %></a>
  </p>
<% } %>

<% if (page.tags.length) { %>
  <p class="squish separate"><%- partial("partials/post/tags", { tags: page.tags, mask: false }) %></p>
<% } %>

<%- page.content %>