<p class="separate <%- page.series && "squish" %>">
  <%-
    partial("partials/post/dates", {post: page})
  %><%-
    partial("partials/post/tags", { tags: page.tags, mask: true })
  %>
</p>

<% if (page.series) { %>
  <p>In the <a href="/series/<%- format_url(page.series) %>"><%- page.series %></a> series.</p>
<% } %>

<%- page.content %>
