<% if (page.series) { %>
  <p class="squish">In the <a href="/series/<%- format_url(page.series) %>">
      <%- page.series %>
    </a> series.</p>
<% } %>

<p class="squish">
  <%- partial("partials/post/dates", { post: page }) %>
</p>

<p class="separate">
  <%- partial("partials/post/tags", { tags: page.tags, mask: true }) %>
</p>

<%- page.content %>