<p>Posted on <%- date(page.date) %></p>

<% if (!page.date.isSame(page.updated)) { %>
  <p class="squish">Updated on <%- date(page.updated) %></p>
<% }%>

<% if (page.collection) { %>
  <p class="squish">Part of
    <a href="/collections/<%- format_url(page.collection) %>"><%- page.collection %></a>
  </p>
<% } %>

<% if (page.tags.length) { %>
  <p class="squish sep">
    <span class="skip">Talks about</span>
    <%- partial("partials/post/tags", { tags: page.tags, mask: false }) %>
  </p>
<% } %>

<details>
  <summary>Contents</summary>
  <%- toc(page.content,  {list_number: false}) %>
</details>

<%- page.content %>