<%- page.content %>


<%
if (!page.tag) {
%>
<h2>Tags</h2>

<p class="separate">
  <%
  site.tags.forEach(({ name }) => {
  %><span><a href="/tags/<%- name %>"><%- name %></a></span><%
  })
  %>
<% 
}
%>


<%
const posts = page.tag 
  ? site.tags.findOne({ name: page.tag.name }).posts
  : site.posts;

posts.sort("date", -1).forEach(post => { %>
<section class="card">
  <p class="extra separate">
    <%- partial("partials/post/dates", {post}) %>
    <%- partial("partials/post/tags", {post}) %>
  </p>

  <h2>
    <a class="suppress" href="<%- url_for(post.path) %>">
      <%- post.title %>
    </a>
  </h2>
  
  <div class="excerpt">
    <%- post.excerpt %>
  </div>

  <p><a href="<%- url_for(post.path) %>">View</a></p>
</section>
<% }) %>
  