<%- page.content %>

<ul class="space">
<% site.tags.sort("name").forEach(({ name, posts }) => { %>
<li>
  <a href="tags/<%- format_url(name) %>"><%- name %></a>

  (<%- posts.length  %> <%- plural("post", posts.length !== 1) %>)
</li>
<% }) %>
</ul>
