doctype html

include /components/myEmail.pug
include /components/spotify.pug
include /components/caption.pug
include /components/quote.pug
include /components/sep.pug

mixin css(name)
  link(rel="stylesheet", href=`/styles/${name}.css`)

mixin js(name)
  script(src=`/scripts/${name}.js` async defer)

mixin navLink(title)
  a(href=urlFor(pages.find(p => p.title === title))) #{title}

html
  head 
    +css("variables")
    +css("utilities")
    +css("base")
    +css("layout")
    +css("components")

    +js("theme")
    +js("tag")
    +js("id-jumper")
    +js("konami")

    link(rel='apple-touch-icon', sizes='180x180', href='/icons/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/icons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/icons/favicon-16x16.png')
    link(rel='manifest', href='/icons/site.webmanifest')
    link(rel='shortcut icon', href='/icons/favicon.ico')
    meta(name='msapplication-TileColor', content='#603cba')
    meta(name='msapplication-config', content='/icons/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='google-site-verification', content='--WV6qAuzU9GnL3462uvvFCGbyR8jm9J0YzYWMWQ1IU')

    title #{current.title} • joshsj

  body(class={hmm: current.title === "404"})
    nav
      +navLink("Home")
      +navLink("Blog")
      +navLink("Portfolio")

      button#theme-toggle.link(aria-hidden="" aria-role="Toggle for light/dark theme")

    main.content
      h1 #{current.displayTitle || current.title}

      if current.category === "post"
        p Posted on #{formatDate(current.created)}

        //- TODO remove once same updated dates are removed
        //- JS dates are shit
        if current.updated && current.created.getTime() !== current.updated.getTime()
          p.squish Updated on #{formatDate(current.updated)}

        if (current.tags)
          p.squish.sep.sep-pop
            span.skip Talks about
            each tag in current.tags
              span #{tag}

      block content